<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="HomeBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="300"
                        maxConcurrentInstances="500" />
                    <bufferedReceive maxPendingMessagesPerChannel="1024" />
                    <workflowRuntime />
                    <workflowUnhandledException action="Cancel" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <bindings>
        <netTcpBinding>
          <binding name="MyNetTcpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="1000" />
          </netTcpBinding>
     </bindings>
        <services>
            <service behaviorConfiguration="HomeBehaviour" name="HoveService.SmartHomeService">
                <endpoint address="" binding="basicHttpBinding" contract="HoveService.ISmartHomeService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/HoveService/SmartHomeService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
